.date-filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}

.date-filter-form__select {
    font-size: 1.1rem;
    padding: 0.3rem 2.5rem;
    border-radius: 7px;
}